$paddings: (
        2px, 4px, 8px, 10px, 12px, 16px, 20px, 24px, 30px, 36px,
        40px, 48px, 56px, 64px, 72px, 80px, 96px, 112px, 128px, 144px
);

$margins: (
        2px, 4px, 8px, 10px, 12px, 16px, 20px, 24px, 30px, 36px,
        40px, 48px, 56px, 64px, 72px, 80px, 96px, 112px, 128px, 144px
);

$font-sizes: (12px, 14px, 16px, 18px, 20px, 24px, 30px, 36px, 48px, 64px, 72px, 86px, 120px);

$breakpoints: ("": 576, "tablet": 768, "desktop": 992);